<!DOCTYPE html>
<html>
<head>
    <title>Java Full Stack Course Content</title>
</head>
<body>
    <p>Dear ${recipientName},</p>
    <p>Please find the attached Java Full Stack Course Content for your reference.</p>
    <p>The attached file contains the overview of the course. Apart from the mentioned course, you will be learning a total of 15 Technologies and Placement activities, technical aptitude, Resume Building, Mocks, Presentation, etc.</p>
    
    <p>Course Content: <a href="https://www.x-workz.in">X-Workz</a></p>
  
    <p>For any queries, feel free to reach me at 9886971483/9886971480.</p>
    <p>Follow us on Facebook and Instagram for more updates regarding new batches and placement details:</p>
    <p>Facebook: <a href="https://www.facebook.com/xworkzdevelopmentcenter/">XWorkz Development Center</a></p>
    <p>Instagram: <a href="https://www.instagram.com/xworkzodc1?r=nametag">XWorkz ODC</a></p>
    <p>Google Reviews Link: <a href="https://g.page/xworkzodc/review?av">XWorkz ODC Reviews</a></p>
    <p>Thanks and Regards,</p>
    <p>HR Team</p>
    <p>M.No: 9845958884</p>
    <p>Find us on Google Maps: <a href="https://goo.gl/maps/LSgLsZ6oqRu">Google Maps</a></p>
    <p><a href="https://www.x-workz.in"><img src="'https://www.x-workz.in/Logo.png'" alt="X-Workz Logo" width="100"></a></p>
    <p>080-48669257/9845958884</p>
    <p>RAJAJINAGAR||BTM</p>
</body>
</html>
